.private_bg_1{
    position: relative; /* Đặt vị trí tương đối cho container */
    background-image: url("/img_about/img_bg_1.png"); /* Đặt hình ảnh nền */
    background-position: center;
    height: 400px;
    width: 100%;

}
.about_header{
    position: absolute;
    bottom: 0;
    padding: 30px;
}
.p_bg_1{
    color: white;
    font-size: 80px;
    font-family: 'Inter Display', sans-serif;
    font-weight: 700;
    line-height: 0px;
    word-wrap: break-word;
}
.p_bg_2{
    color: white;
    font-size: 14px;
    font-family: 'Inter Display', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}
.container_private{
    width: 759px;
    margin: 0 auto;
}
.p_introduce{
    color: #64646D;
    font-size: 14px;
    font-family: Inter Display;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.private_cs{
    color: #38383D;
    font-size: 16px;
    font-family: Inter Display;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.menu_ol {
    color: #38383D;

    color: #38383D;
    font-size: 16px;
    font-family: Inter Display;
    font-weight: 700;
    line-height: 24px;
word-wrap: break-word;  
    padding-left: 0px; /* Căn chỉnh lề trái cho danh sách */
}
@media (max-width: 768px) {
    .container_private{
        width: 100%;
    }
    .p_bg_1{
        font-size: 30px;
    }
}